body{
    box-sizing: border-box;
    margin: 0;
}
@font-face{
    font-family: "Noto Sans Japanese";
    src: url("Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf") format("truetype");
}
:root{
    font-family: "Noto Sans Japanese", sans-serif;
}
#container{
    display: flex;
}
#left-side{
    background-color: black;
    min-height: 100vh;
    min-width: 40vw;
    color: white;
    padding-left: 2vw;
}
#left-side > p{
    font-size: clamp(18px, 6vw, 64px);
    margin-top: 5vh;
    padding-left: 5vw;
}
img{
    width: max(10vw, 100px);
}
#right-side{
    background-color: whitesmoke;
    padding-top: 15vh;
    font-size: 24px;
    font-weight: bolder;
}
#right-side > p{
    padding-left: 2vw;
    padding-right: 10vw;
}
form > button{
    margin-left: 2vw;
    margin-top: 1vw;
    background-color: black;
    color: white;
    padding: 10px;
    padding-right: 2vw;
    padding-left: 2vw;
    font-size: 18px;
    border-radius: 5px;
}
form > fieldset{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 2vw;
    padding-right: 10vw;
    border: 0;
    gap: 2vh;
}
#below-caption{
    display: flex;
    flex-direction: row;
}
#form-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#password-requirements{
    font-size: 14px;
    margin-left: 10px;
    border: 1px dotted gray;
    padding: 2px;
}
#password-requirements > p{
    margin: 0;
}
lable{
    color: rgb(80, 80, 80);
    font-size: 14px;
}
input{
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 1vh;
    padding-right: 5vw;
}
input:focus {
    border: 1px solid blue;
    box-shadow: 0 0 5px blue;
    outline: none;
}  
.row{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 10px;
}
.input-container{
    display: flex;
    flex-direction: column;
}
#password-error-message{
    color: red;
    font-size: 11px;
}
#log-in{
    font-size: 14px;
}
@media (max-width: 1000px){
    #container{
        flex-direction: column;
    }
    #left-side{
        min-height: 20vh;
    }
    #below-caption{
        flex-direction: column;
    }
}