body{
    box-sizing: border-box;
    margin: 0;
}
@font-face{
    font-family: "Noto Sans Japanese";
    src: url("Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf") format("truetype");
}
:root{
    font-family: "Noto Sans Japanese", sans-serif;
}
#container{
    display: flex;
}
#left-side{
    background-color: black;
    min-height: 100vh;
    min-width: 40vw;
    color: white;
    padding-left: 2vw;
}
#left-side > p{
    font-size: clamp(18px, 6vw, 64px);
    margin-top: 5vh;
    padding-left: 5vw;
}
img{
    width: max(10vw, 100px);
}
#right-side{
    background-color: whitesmoke;
    padding-top: 15vh;
    font-size: 24px;
    font-weight: bolder;
}
#right-side > p{
    padding-left: 2vw;
    padding-right: 10vw;
}
form > button{
    margin-left: 2vw;
    margin-top: 1vw;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}
form > fieldset{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 2vw;
    padding-right: 20vw;
    border: 0;
    gap: 10px;
}
lable{
    color: rgb(80, 80, 80);
    font-size: 14px;
}
input{
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 1vh;
    padding-right: 5vw;
}
input:invalid{
    border: 2px solid red;
}
.row{
    display: flex;
    justify-content:space-between;
}
.input-container{
    display: flex;
    flex-direction: column;
}
#log-in{
    font-size: 14px;
}